body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.NavBar {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}

#logo {
  padding: 0;
  /*padding-left: 60px;*/
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 8px;
}

.myResturant {
  display: flex;
  justify-content: space-between;
}

.setting-icon {
  height: 40px;
  width: 40px;
}

.myResturantStack {
  background-color: aqua;
  right: 0;
  height: 100%;
  width: 90%;
  margin-left: 20%;
  position: relative;
}

.myResturantImg {
  width: 100%;
  height: 150px;
}

.ResturantName {
  font-size: 40px;
}

.category {
  margin: 30px;
}

.categoryHeader {
  background: lightgray;
}

.dishBox {
  /* background-color: aquamarine; */
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  /* justify-content: space-evenly; */
}

.dishes {
  width: 240px;
  height: 200px;
  margin: 10px;
  /* background-color: aqua; */
  transition: box-shadow 0.5s;
}

.dishes:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.dishImg {
  width: 100%;
  height: 85%;
}

.dishes p {
  margin-top: -6px;
  right: 0;
}
